# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**.cso
**.obj
Local/

Bin/*.exe
Bin/*.pdb
Bin/*.ilk
Bin/Settings
Bin/*.dll
Bin/*_Debug*
Bin/*_Release*
Bin/*_Retail*

Bin/settings/

Makefile

Temp/

Lib/*Engine_Debug.*
Lib/*Engine_Release.*
Lib/*Engine_Retail.*

Lib/*External_Debug.*
Lib/*External_Release.*
Lib/*External_Retail.*

Lib/*Game_Debug.*
Lib/*Game_Release.*
Lib/*Game_Retail.*

*/Debug
*/Release

.vs
.idea